[Desktop Entry]
Type=Application
Name=G-Diffuser
Comment="A native PC port of F-Zero X (N64), including 64DD Expansion Kit support."
Icon=gdiffuser-icon
Exec=G-Diffuser
Terminal=false
StartupWMClass=G-Diffuser
Categories=Game;
